JLinkLog.txt
PRT.uvguix.lihy
output/
*.bak
*.mcu
main/.module.c.swp
tags
*.crf
cscope.*
*.map
*.exvim
.exvim.pro/
OBJ/*
./USER/SPI.uvoptx
git_stats/
MDK-ARM/RADIO_CAN/*
USER/SPI.uvguix.binli301
./OBJ/update.bin
PRT.uvgui.user
.DS_Store
PRT.uvgui.dhtc
PRT.uvgui.Jack
PRT.uvgui.coolvast
PRT.uvgui.LiGangqiao
PRT.uvgui.lihy
PRT.uvgui.zhangzhidong
*.WK3
*.uvgui.*
PRT.uvgui.user.bak
PRT.uvgui.dhtc.bak
PRT.uvgui.Jack.bak
PRT.uvgui.coolvast.bak
PRT.uvgui.LiGangqiao.bak
PRT.uvgui.lihy.bak
PRT.uvgui.zhangzhidong.bak
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.bak
*.SearchResults
*.txt
*.d
*.o
*.binli301
*.TEMP
JLinkLog.txt
